.coustom {
  color: lightgray;
}
.hr2 {
  position: relative;
}
.hr {
  border: 1px solid rgb(214, 0, 0);
  width: 100px;
  position: absolute;
  bottom: -5px;
}
.coustom-img {
  width: 80%;
}
.grayscal {
  filter: grayscale(100%);
}
.coustom-width {
  width: 30%;
}
.star i {
  color: rgb(255, 209, 4);
}
